@charset "UTF-8";

/*
Criado em 07/2020
@Autor: Paulo https://github.com/alpdias
*/

@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* RESETS DO HTML */
* {
    box-sizing: border-box;
}

/* FONTES */
@font-face {
    font-family: Open Sans, sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Acme&display=swap');
}

@font-face {
    font-family: Acme, sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
}
