/*
Criado em 01/2020
@Autor: Paulo https://github.com/alpdias
*/

@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: rgba(94, 94, 160, 0.767);
    text-align: center;
    font-family: Open Sans, sans-serif;
}

header {
    color: white;
    font-weight: bolder;
    font-size: 18pt;
    padding: 10px;
    font-family: Acme, sans-serif;
}

section#input {
    background-color: #EBEBEB;
    color: black;
    border-radius: 10px;    
    padding: 1%;
    margin: auto;
    width: 600px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
}

#produto, #quantidade, #preço {
    width: 70%;
    font-family: Open Sans, sans-serif;
    border-radius: 4px;
    padding: 1%;
    border: transparent;
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.356);
}

#adicionar {
    background-color: #372772;
    font-family: Acme, sans-serif;
    color: white;
    padding: 2%;
    border-radius: 5px;
    margin-top: 3%;
    margin-bottom: 0px;
    border: transparent;
    font-weight: bolder;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.356);
}

#excluir {
    background-color: #B8336A;
    font-family: Acme, sans-serif;
    color: white;
    padding: 2%;
    border-radius: 5px;
    margin-top: 3%;
    margin-bottom: 0px;
    border: transparent;
    font-weight: bolder;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.356);
}

section#output {
    background-color: #EBEBEB;
    color: black;
    border-radius: 10px;
    padding: 1%;
    margin: auto;
    margin-top: 10px;
    width: 600px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.356);
}

th {
    background-color: #EBEBEB;
    font-size: 10pt;
    color: rgba(0, 0, 0, 0.685);
    border-bottom: solid rgba(0, 0, 0, 0.411);
    padding: 0% 2.5% 0% 2.5%;
}

footer {
    color: rgba(255, 255, 255, 0.425);
    font-size: 10pt;
}
